.content {
  width: 100%;
}
.cont-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}
.my-notes {
  display: flex;
  padding: 5px 0 5px 0;
  justify-content: center;
  text-align: center;
}
.content-main {
  border-radius: 4px;
  text-align: center;
  background-color: rgb(7, 0, 61);
  width: 500px;
}

@media (max-width: 600px) {
  .cont-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
  }

  .content-main {
    border-radius: 4px;
    text-align: center;
    background-color: rgb(7, 0, 61);
    width: 95%;
  }
}
