.login {
  width: 100%;
  position: relative;
}
.login-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}
.login-main {
  display: flex;
  flex-direction: column;
  width: 550px;
  text-align: center;
  background-color: #2e0dc0;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
}
.login-main div {
  color: rgb(235, 235, 235);
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.buttons button {
  font-family: "Poppins", sans-serif;
  height: 2rem;
  width: 100%;

}
.buttons button:hover {
  background-color: rgb(12, 0, 104);
  color: aliceblue;
}
form div input {
  width: 100%;
  height: 2rem;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.error span {
  color: rgb(255, 0, 0);
}
.title {
  font-family: "Poppins", sans-serif;
}
@media (max-width: 600px) {
  .login {
    width: 100%;
  }
  .login-cont {
    width: 100%;
  }
  .login-main {
    width: 100%;
  }

  form div input {
    width: 90%;
    height: 1.7rem;
  }
}
.spinner {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #0003cc;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
     transform: rotate(1turn);
  }
}
.load {
display: flex;
justify-content: center;
}
.form-input div {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  ion-icon {
    font-size: 25px;
  }
  }